@model Customer
@{ Layout = "_Layout"; ViewBag.Title = "Get Customer by Id";}

<h2>Get Customer by Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Customer</button>
    </div>
</form>

@if (Model != null && Model.Id != 0)
{
    <h2>Customer</h2>
    <table id ="myTable"class="table table-sm table-striped table-bordered m-2 table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>EMail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Address</td>
                <td>@Model.Telephone</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
}
else if(Model != null && Model.Id == 0 )
{
    <div class="text-center">
        <h1>The customer with the searched Id does not exist!!</h1>
    </div>
}