@model IEnumerable<Customer>
@{ Layout = "_Layout"; ViewBag.Title = "All Customers";}

<h2>Customers</h2>
<a asp-action="AddCustomer" class="btn btn-sm btn-primary">Add Customer</a>
<a asp-action="GetCustomer" class="btn btn-sm btn-secondary">Get Customer</a>

<table id ="myTable" class="table table-sm table-striped table-bordered m-2 table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>E-Mail</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Address</td>
                <td>@customer.Telephone</td>
                <td>@customer.Email</td>
                <td>
                    <a asp-action="UpdateCustomer" asp-route-id="@customer.Id">
                        <img src="/icon/edit.png" />
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteCustomer" method="post">
                        <input type="hidden" value="@customer.Id" name="CustomerId" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Order" class="btn btn-sm btn-primary">Go To Order Page</a>
