@model Order
@{ Layout = "_Layout"; ViewBag.Title = "Add an Order";}

<h2>Add an Order <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddOrder" method="post">
    <div asp-validation-summary="All" class="text-danger">
        @*<span>Please correct the following errors</span>*@
    </div>
    <div class="form-group">
        <label asp-for="CustomerId">Customer ID:</label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger"></span>
        @* @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" }) *@

    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
        @* @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" }) *@

    </div>
    <div class="form-group">
        <label asp-for="OrderCost">Order Amount:</label>
        <input asp-for="OrderCost" class="form-control" />
        <span asp-validation-for="OrderCost" class="text-danger"></span>
        @* @Html.ValidationMessageFor(model => model.Telephone, " ", new { @class = "text-danger" })*@
    </div>


    @*<div class="form-group">
            <label for="Order Cost">Order Cost:</label>
            <input class="form-control" name="OrderCost" />
            @Html.ValidationMessageFor(model => model.OrderCost, "", new { @class = "text-danger" })
            <span asp-validation-for="OrderCost"></span>
        </div>*@

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add Order</button>
    </div>
</form>
<br />
<br />
<form asp-action="AddOrder" method="get">
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary" align="right">Clear Form</button>
    </div>
</form>

<h3 class="alert">@ViewBag.Result</h3>

@if (Model != null)
{
    <h2>Order</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>CustomerId</th>
                <th>Description</th>
                <th>Order Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CustomerId</td>
                <td>@Model.Description</td>
                <td>@Model.OrderCost</td>
            </tr>
        </tbody>
    </table>
}
