@model IEnumerable<Order>
@{ Layout = "_Layout"; ViewBag.Title = "All Orders";}

<h2>Orders</h2>
<a asp-action="AddOrder" class="btn btn-sm btn-primary">Add Order</a>
<a asp-action="GetOrder" class="btn btn-sm btn-secondary">Get Order</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer ID</th>
            <th>Description</th>
            <th>Order Cost</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.CustomerId</td>
                <td>@order.Description</td>
                <td>@order.OrderCost</td>

                <td>
                    <a asp-action="UpdateOrder" asp-route-id="@order.Id">
                        <img src="/icon/edit.png" />
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteOrder" method="post">
                        <input type="hidden" value="@order.Id" name="id" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Customer" class="btn btn-sm btn-primary">Go To Customer Page</a>
